<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>Cubo Network - Front</span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
  <form [formGroup]="save" (submit)="submitSave($event)">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput [formControl]="firstName" required>
          <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput [formControl]="lastName" required>
          <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>&nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Participation</mat-label>
          <input matInput type="number" [formControl]="participation" placeholder="Ex 10%" [formControl] min="0" max="100" step="5" required>
          <span matSuffix>%</span>
          <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>&nbsp;
        <button type="submit" mat-raised-button>Send</button>&nbsp;
        <button type="button" (click)="projectReset()" color="warn" mat-raised-button>Project Reset</button>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <table mat-table [dataSource]="modelTable" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="cuboId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.cuboId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="participation">
      <th mat-header-cell *matHeaderCellDef> Participation </th>
      <td mat-cell *matCellDef="let element"> {{element.participation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ngx-charts-pie-chart
    [view]="view"
    [gradient]="true"
    [results]="models"
    [labels]="true"
    [doughnut]="true"
    >
  </ngx-charts-pie-chart>

</div>
<router-outlet></router-outlet>